:root {
  --main-bg-color: #111111;
  --main-text-color: #ffffff;

  --space-medium: 2em;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-sizing: normal;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1.5em;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  line-height: 1.5;
}

main {
  box-sizing: content-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60ch;
  padding: var(--space-medium)
}